angr==9.2.189
pytest==8.1.1
prompt_toolkit==3.0.43
pygraphviz==1.12
pytest-asyncio==0.23.6
asynctest==0.13.0
angr-utils==0.5.0
nest_asyncio==1.6.0
setuptools==72.1.0
multimethod==1.12
antlr4-python3-runtime==4.13.2
antlr4-tools==0.2.1
antlr-denter==1.3.1
cloudpickle==3.1.2
fastmcp==2.14.1
fastapi==0.124.4
uvicorn==0.38.0
pytriskel==0.5.0
sqlalchemy==2.0.45
pwntools==4.15.0
