.asm{
  display: inline-block;       /* important: makes height/width measurable */
  box-sizing: border-box;      /* padding counts in size */
  padding: 2px 4px;

  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", monospace;
  font-size: 12px;
  line-height: 1.25;

  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: anywhere;

  max-width: 320px;

  pointer-events: auto;
}

.op  { color: #0957ff; font-weight: 600;}
.reg { color: #059669; }
.imm { color: #b45309; }
.mem { color: #b91c1c; }
.text { color: #000000; }

.data_type {
  color: #6b7280; 
}

.addr {
  color: #011e5e; font-weight: 400;
  cursor: pointer;
}

.addr.has-bp::before{
  content: "●";
  color: #2563eb;           /* blue */
  font-size: 1.3em;
  margin-right: 4px;
  vertical-align: middle;
}

/* Exclude = red cross */
.addr.is-excl::before{
  content: "✗";
  color: #ef4444;           /* red */
  font-weight: 700;
  margin-right: 3px;
  vertical-align: middle;
}

.call-op { cursor: pointer;  color: #000000;}

.mini-menu{
  position: fixed;
  z-index: 9999;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 6px;
  box-shadow: 0 8px 24px rgba(0,0,0,.15);
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: #333;
}
.mini-menu button{
  all: unset;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}
.mini-menu button:hover{
  background: #f2f2f2;
}